body{
    display: flex;
    align-items:center ;
    justify-content: center;
    min-height: 100vh;
    background: #212121;
}


.wrapper{
    width:65vmin;
    height: 70vmin;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background:#293447 ;
}
.gamed{
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    padding: 20px 27px;
    justify-content: space-between;
}
.play-board{
    width:100%;
    height:100%;
    display: grid;
    grid-template: repeat(30,1fr)/ repeat(30,1fr);
    background: rgb(57, 85, 136);

}
.play-board .food{
    background: #ff003d;
}
.play-board .head{
    background: #ee941f;
}